<!DOCTYPE html>
<html lang="en" ng-app="webixApp">
<head>
  <meta charset="utf-8">
  <title>Webix - Angular : Chart</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

  <link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css">
  <script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
  <script type="text/javascript" src="../sources/index.js"></script>

  <script type="text/javascript" src="js/chartApp.js"></script>
</head>
<body ng-controller="webixChartController">

  <div webix-ui="config" webix-data="lines" webix-watch="false" style="width:500px; height:200px;"></div>
  <br>
  <button ng-click="changeLine('line')">Show Line Chart</button>
  <button ng-click="changeLine('bar')">Show Bar Chart</button>

</body>
</html>